.main-head {
  position: relative;
  padding-top: calc($offset * 10);
  padding-bottom: calc($offset * 9);
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    padding-left: calc(max(1.25vw, 15px) * 15);
    padding-right: calc(max(1.25vw, 15px) * 1);
    text-align: left;
    transform: translateX(-100px);
  }

  &__title {
    margin-top: $offset;
    margin-bottom: $offset;
    font-family: $ff2;
    font-weight: $fwEB;
    text-transform: uppercase;
    font-size: 3.6em;
    line-height: 1.2;
    color: $color-default-white;

    & span {
      color: $color-default-yellow;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: $color-default-yellow;
      -webkit-text-stroke-width: 1px;
    }
  }

  &__texture img {
    background: $color-default-black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    overflow: hidden;
    z-index: -1;
    object-fit: cover;
  }

  &__btn {
    color: $color-default-black;
    background-color: $color-default-yellow;
    position: relative;
    text-transform: uppercase;
    font-weight: $fwB;
    font-size: 1em;
    min-width: calc($offset * 9);
    padding: calc($offset * 1);
    border-radius: 0.5rem;
    text-align: center;
  }

  &__desc {
    position: relative;
    margin-bottom: calc($offset * 3);
    padding: calc($offset * 0.8);
    font-size: 1.2em;
    text-transform: uppercase;
    color: $color-default-yellow;
    border-radius: 0.5rem;
  }

  &__decor {
    position: absolute;
    top: 80%;
    right: -45%;
    transform: translateY(-80%) rotate(265deg) translateY(-45%);
    width: calc($offset * 20);
    height: calc($offset * 20);
    filter: drop-shadow(10px 5px 20px #000);
    transition: all 1s;

    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 85%;
      height: 85%;
      object-fit: cover;
      transition: all 1s;
    }
  }
}

.main-head__images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc($offset * 19);
  transform: scale(1.2);
  height: calc($offset * 21);
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.main-head__image {
  &-bg {
    position: absolute;
    top: 2.5vw;
    left: 0;
    transform: rotate(175deg);
    z-index: -1;
    width: 100%;
    height: 80%;
  }

  &-over {
    overflow: hidden;
    width: 90%;
    height: 90%;
  }

  & img {
    width: 100%;
    height: 100%;
  }
}

.main-head__decor1 img {
  transform: rotate(-55deg);
  transform-origin: 50% 80%;
  position: absolute;
  top: 0%;
  left: 0;
  width: 96%;
  height: 96%;
  -o-object-fit: contain;
  object-fit: contain;
  transition: all 1s;
  z-index: 2;
}

.main-head__decor2 img {
  transform: rotate(35deg);
  transform-origin: 50% 80%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: -8%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  transition: all 1s;
}

.main-head__decor1 img,
.main-head__decor2 img {
  transition: all 1s ease-in-out;
}

.sticker {
  position: absolute;
  top: -10%;
  right: -10%;
  width: calc($offset * 7);
  height: calc($offset * 7);
  -o-object-fit: contain;
  object-fit: contain;
}

.art {
  -o-object-fit: contain;
  object-fit: contain;
  z-index: 8;
  position: absolute;
  left: calc(0px - max(2vw, 50px));
  bottom: calc(0px - max(2vw, 60px));
  transform-origin: left top;
  transform: rotateX(-90deg);
  // transform: rotateX(-20deg);
  // width: max(12vw, 150px);
  // height: max(8vw, 60px);
  // transform: rotate(-20deg);
}

.main-head__btn::before {
  content: '';
  display: block;
  background-image: url('/images/advert-arrow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: -35%;
  top: 0;
  width: calc($offset * 3);
  height: calc($offset * 3);
}
