<section class="about">

  <div class="about__decor">
    <img src="./images/about-decor.png" alt="decor pic">
  </div>

  <div class="about-head">
    <h2 class="about-title">О нас</h2>
    <p>Наше дело — это творчество, рамки не для нас!<br>
      Рвем шаблоны и диктуем как надо</p>
    <p>Дядя Chill — это креатив, смелость и уверенность.<br>
      Приходи и сам почувствуй силу chillовой атмосферы.</p>
    <a class="about-btn"
      href="#">Хочу знать больше</a>
  </div>

  <div class="about__images">

    <div class="about__images-one">
      <div class="about-img about-img-1">
        <img src="./images/about-1.png" alt="barber" width="459">
      </div>
      <div class="about-img about-img-2">
        <img src="./images/about-2.png" alt="barber" width="464">
      </div>
    </div>

    <div class="about__images-two">
      <div class="about-img about-img-3">
        <img src="./images/about-3.png" alt="barber" width="398">
      </div>
      <div class="about-img about-img-4">
        <img src="./images/about-4.png" alt="barber" width="398">
      </div>
    </div>
  </div>

  <div class="about__line">
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
    <span>ДЯДЯ CHILL-ЭТО</span>
  </div>

</section>
