 <section class="advantages">
  <div class="advantages__bg-top">
    <picture>
      <source srcset="/images/advantages_bg-top.webp">
      <img src="/images/advantages_bg-top.png" width="1920"
        alt="advantages-bg">
    </picture>
  </div>
  <div class="advantages__bg-bottom">
    <picture>
      <source srcset="/images/advantages_bg-bottom.webp">
      <img src="/images/advantages_bg-bottom.png" width="1920"
        alt="advantages-bg">
    </picture>
  </div>

  <div class="advantages__wrapper">
    <h3 class="advantages__title">НАШИ ОСОБЕННОСТИ</h3>

    <ul class="advantages__list">
      <li class="advantages__item">
        <span class="advantages__item-count">1</span>
        <div class="advantages__item-content">
          <b class="advantages__item-name">ВОСТОЧНОЕ ГОСТЕПРИИМСТВО</b>
          <p>Напитки в стиле “Салам-Алейкум” от молока до коньяка</p>
        </div>
      </li>
      <li class="advantages__item">
        <span class="advantages__item-count">2</span>
        <div class="advantages__item-content">
          <b class="advantages__item-name">ОСОБЕННЫЙ ПОДХОД</b>
          <p>Лучшие #чиллмастера и барберы с руками из плеч</p>
        </div>
      </li>
      <li class="advantages__item">
        <span class="advantages__item-count">3</span>
        <div class="advantages__item-content">
          <b class="advantages__item-name">ДЯДЯЧИЛЛ ОБО ВСЕМ
            ПОЗАБОТИЛСЯ</b>http://localhost:3000/#
          <p>Есть удобная парковка для вашей машины, байка и ботинка</p>
        </div>
      </li>
    </ul>
  </div>

</section>
