 <section class="main-head">
  <div class="main-head__content">

    <h2 class="main-head__title">
      <span>GO</span>
      к нам
    </h2>

    <div class="main-head__desc">
      <div class="main-head__texture">
        <picture>
          <source srcset="./images/advert-text-bg.webp">
          <img src="./images/advert-text-bg.jpg" width="470"
            alt="background for text">
        </picture>
      </div>
      Если хочешь эффект “ВАУ!!!”
    </div>

    <button class="main-head__btn" type="button">
      Хочу к вам
    </button>

    <div class="main-head__decor">

      <div class="main-head__decor-wrapper">

        <div class="main-head__decor1">
          <picture>
            <source srcset="./images/razor2.webp">
            <img src="./images/razor2.png" width="534" alt="razor pic">
          </picture>
        </div>

        <div class="main-head__decor2">
          <picture>
            <source srcset="./images/razor1.webp">
            <img src="./images/razor1.png" width="534" alt="razor pic">
          </picture>
        </div>
      </div>
    </div>

  </div>

  <div class="main-head__images">

    <div class="main-head__image main-head__image-bg">
      <picture>
        <source srcset="./images/advert-second.webp">
        <img src="./images/advert-second.png" width="650"
          alt="барбершоп">
      </picture>
    </div>

    <div class="main-head__image main-head__image-over">
      <picture>
        <source
          srcset="./images/advert-first.webp">
        <img src="./images/advert-first.jpg" width="501"
          alt="барбершоп">
      </picture>
    </div>

    <img class="sticker" src="./images/sticker.png" width="201"
      alt="я знаю что вам нужно">
    <img class="art" src="./images/advert-art.png" width="133"
      alt="art">
  </div>

</section>
