<section class="price">
  <div class="price__sticky">
    <div class="price-scroll">

      <div class="price-row">
        <div class="price-image">
          <div class="price-img price-img-one">
            <img src="./images/price-one.png" alt="art-image">
          </div>
        </div>
        <div class="price-inner">
          <div class="price-head">

            <h3 class="price-title price-title">Услуги и цены</h3>

            <div class="price-head__desc">
              <div class="price-texture">
                <picture>
                  <source srcset="./images/price-texture.webp">
                  <img src="./images/price-texture.jpg" width="470"
                    alt="Услуги и цены">
                </picture>
              </div>
              <span><b>Первое</b> посещение <b>20%</b> скидка</span>
            </div>
          </div>

          <div class="price-wrapper price-1">

            <div class="price-content ">
              <div class="price-content__texture">
                <picture>
                  <source
                    srcset="./images/price-content-texture.webp">
                  <img
                    src="./images/price-content-texture.jpg"
                    width="1050" alt />
                </picture>
              </div>
              <div class="price-list">
                <h2 class="price-list__title">ОБЩИЙ ЗАЛ</h2>
                <div class="price-list-row">
                  <p>Мужская стрижка</p>
                  <span>150 000</span>
                </div>
                <div class="price-list-row">
                  <p>Мужская стрижка под машинку</p>
                  <span>100 000</span>
                </div>
                <div class="price-list-row">
                  <p>Моделирование усов и бороды</p>
                  <span>90 000</span>
                </div>
                <div class="price-list-row">
                  <p>Мужская стрижка и моделирование бороды</p>
                  <span>220 000</span>
                </div>
                <div class="price-list-row">
                  <p>Мужская стрижка и королевское бритьё</p>
                  <span>220 000</span>
                </div>
                <button class="price-list__btn"
                  aria-label="посмотреть все услуги">ВСЕ УСЛУГИ</button>
              </div>
              <img class="price-stick" src="./images/price-stick-one.png"
                alt="космическая прическа">
            </div>

          </div>

        </div>
      </div>

      <div class="price-row">
        <div class="price-image">
          <div class="price-img price-img-two">
            <img src="/images/price-two.png" alt="art-image">
          </div>
        </div>
        <div class="price-inner">

          <div class="price-wrapper price-2">

            <div class="price-content ">
              <div class="price-content__texture">
                <picture>
                  <source
                    srcset="/images/price-content-texture.webp">
                  <img
                    src="/images/price-content-texture.jpg"
                    width="1050" alt />
                </picture>
              </div>
              <div class="price-list">
                <h2 class="price-list__title">VIP КОМНАТА</h2>
                <div class="price-list-row">
                  <p>Мужская стрижка</p>
                  <span>150 000</span>
                </div>
                <div class="price-list-row">
                  <p>Мужская стрижка под машинку</p>
                  <span>100 000</span>
                </div>
                <div class="price-list-row">
                  <p>Моделирование усов и бороды</p>
                  <span>90 000</span>
                </div>
                <div class="price-list-row">
                  <p>Мужская стрижка и моделирование бороды</p>
                  <span>220 000</span>
                </div>
                <div class="price-list-row">
                  <p>Мужская стрижка и королевское бритьё</p>
                  <span>220 000</span>
                </div>
                <button class="price-list__btn"
                  aria-label="посмотреть все услуги">ВСЕ УСЛУГИ</button>
              </div>
              <img class="price-stick" src="/images/price-stick-two.png"
                alt="космическая прическа">
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="price-line-one">
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
      <span>Первое посещение 20% скидка</span>
    </div>

    <div class="price-line-two">
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки</span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки</span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
      <span>Ништяки </span>
    </div>

  </div>
</section>
<section style="height: 20vh;"></section>
