<section class="slide-masters">

  <div class="slide-head">
    <h2 class="slide-title">Барберы</h2>
  </div>

  <div class="slider-inner">
    <div class="slider-inner__buttons">
      <button class="slider__btn prev" type="button" aria-label="Назад">
        <svg class="slider__arrow" width="20" height="20"
          aria-hidden="true"><use
            xlink:href="#icon-arrow-left"></use></svg>
      </button>
      <button class="slider__btn next" type="button" aria-label="Назад">
        <svg class="slider__arrow" width="20" height="20"
          aria-hidden="true"><use
            xlink:href="#icon-arrow-right"></use></svg>
      </button>
    </div>

    <div class="slider">
      <ul class="slider-list">

        <li class="slider-item">

          <div class="slider-image">

            <svg class="slider-image-decor" width="157" height="43"
              viewBox="0 0 157 43" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M122.5 23C132.333 22.8333 152.8 19.7 156 8.5C149.6 31.7 134 37.8333 127 38M28.5 23C19.8333 21 2.2 13.9 1 1.5C5.5 23 11 38 25 42"
                stroke="#E6FB04" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>

            <img src="./images/slide-one.png" alt="первый барбер" width="236">

            <svg class="slider-image-decor" width="157" height="161"
              viewBox="0 0 157 161" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 155.5C36.6667 152.667 104 132.9 88 76.4999C68 5.99989 128 1.4999 143 14.9999C143 11.9998 76 1.00004 93 76.4999C106.6 136.9 37.3333 157.333 1 160M133 18C137.5 21.5 148.4 26.4 156 18C151.5 7.50004 136 -3.04995 128 3.00004"
                stroke="#E6FB04" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>

          </div>

          <div class="slider-desc">
            <div class="texture">
              <img
                src="./images/slide-texture.jpg"
                width="450" alt="text-background">
            </div>
            <h3>ДАЛГАТ МУСАЕВ</h3>
            <b>Опыт работы 7 лет</b>
            <p>
              “Мое призвание определилось, когда мне было шесть лет, и я выстриг
              себе клок волос, желая стать модным.”
            </p>
          </div>

        </li>

        <li class="slider-item">

          <div class="slider-image">

            <img src="./images/slide-two.png" alt="второй барбер" width="267">

            <svg class="slider-image-decor" width="99" height="56"
              viewBox="0 0 99 56" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M95.0008 28C93.0008 27.6 91.1675 23.8333 90.5008 22C88.4361 18 96.0008 21 97.0008 23C98.0008 25 97.5008 28.5 95.0008 28Z"
                stroke="#E6FB04" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" stroke-linecap="round" />
              <path d="M84.001 55C84.1676 50.6667 83.301 40.6 78.501 35"
                stroke="#E6FB04" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" stroke-linecap="round" />
              <path
                d="M19.0008 52.0005C7.16749 40.3338 -10.2992 14.4004 14.5008 4.00036C39.3008 -6.39964 67.8342 20.667 79.0008 35.5004C45.8007 37.1003 27.5009 47.1671 22.501 52.0005"
                stroke="#E6FB04" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" stroke-linecap="round" />
              <path
                d="M62.001 15.0004C66.001 14.1671 79.501 13.0006 94.001 24.0006C91.1798 22.0006 82.501 19.0005 72.501 22.0006"
                stroke="#E6FB04" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" stroke-linecap="round" />
              <path
                d="M84.001 55C90.3343 51.1667 97.901 39.7 93.501 24.5C89.901 33.7 87.001 39.3333 84.001 41"
                stroke="#E6FB04" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" stroke-linecap="round" />
            </svg>

          </div>

          <div class="slider-desc">
            <div class="texture">
              <img
                src="./images/slide-texture.jpg"
                width="450" alt="text-background">
            </div>
            <h3>ФЕДР БАРЫШЕВСКИЙ</h3>
            <b>Опыт работы 18 лет</b>
            <p>
              “Еще с малых лет мне нравилась эта профессия. Любовь к стрижкам
              привила мне моя мама.”
            </p>
          </div>

        </li>

        <li class="slider-item">

          <div class="slider-image">

            <svg class="slider-image-decor" width="54" height="55"
              viewBox="0 0 54 55" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M33 53.5C37.5 48.1667 47.8 36.8 53 34" stroke="#E6FB04"
                stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <path
                d="M50.9999 28.9997C48.9097 26.6917 46.41 23.774 44 20.7155M39.9999 10.4997C41.4999 11.4997 46.9999 1.49966 36.9999 1.99966C31.0901 2.29515 37.1861 12.0679 44 20.7155M32.4999 53.0001C30.5054 50.6637 27.6654 47.5519 24.5674 44.5001M7.99987 38.5001C8.8332 40.1667 9.29987 43.2001 4.49987 42.0001C-1.50013 40.5001 0.99987 34.5001 7.99987 33.5001C11.6852 32.9736 18.6043 38.6258 24.5674 44.5001M24.5674 44.5001C26.5449 38.6437 33.2 25.6879 44 20.7155M42.5 42.0001C41.5 42.0001 16.4997 -6.50034 7.99987 1.99966C-0.5 10.4997 10 20 15.5 16C19.9 12.8 15 10 12 9"
                stroke="#E6FB04" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>

            <img src="./images/slide-three.png" alt="третий барбер" width="287">

            <svg class="slider-image-decor" width="296" height="222"
              viewBox="0 0 296 222" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M184 7C182 6 137 8 121.5 1.5C131.5 15.9 142.334 26.8333 146.5 30.5C111 42.6667 40.6003 82.8 43.0003 146C45.4003 209.2 16.3334 222 1.5 220.5"
                stroke="#E6FB04" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <path
                d="M252.5 11C263.667 10.8333 287.1 9.6 291.5 6C285.5 19.2 280.667 27.5 279 30C283.667 32.1667 293.4 38.7 295 47.5"
                stroke="#E6FB04" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>

          </div>

          <div class="slider-desc">
            <div class="texture">
              <img
                src="./images/slide-texture.jpg"
                width="450" alt="text-background">
            </div>
            <h3>ИГОРЬ САЛОМАТИН</h3>
            <b>Опыт работы 15 лет</b>
            <p>
              “Современный мужчина должен выглядеть безупречно.
              Моя работа – помочь Вам в этом.”
            </p>
          </div>

        </li>

      </ul>
    </div>

  </div>

</section>
