body.menu-open {
  overflow: hidden;
}

.menu {
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: $offset-xxl;
  color: $color-default-black;
  z-index: 0;
  overflow-y: auto;
  transition: transform, 0.8s;
  background-color: $color-default-white;
  transform: rotate(-20deg) scaleX(2) scaleY(1.5) translateY(-150%);

  &::before {
    content: '';
    display: block;
    background-color: $color-default-white;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(-20deg) scaleX(2) scaleY(1.5) translateY(-100%);
    transform-origin: bottom center;
    transition: transform 0.4s cubic-bezier(0.63, 0.47, 0.83, 0.66);
    z-index: -1;
  }
}

.menu__inner {
  margin: 0;
}

.menu__link > span {
  z-index: 0;
  transform: translateY(85%) rotate(-6deg);
  transition: transform 0.3s cubic-bezier(0.42, 0, 1, 1);
}

.menu.open .menu__link > span {
  transform: none;
  transition: transform 1s cubic-bezier(0.42, 0, 1, 1);
}

.menu__item {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: calc($offset * 1.8);
    background-color: $color-default-white;
    position: absolute;
    top: 80%;
    z-index: 1;
  }
}

.menu__inner.open .menu__item::before {
  display: none;
}

.menu.open::before {
  transform: rotate(0) scaleX(2) scaleY(1.5) translateY(0);
  transition: transform 0.6s cubic-bezier(0.22, 0.51, 0.59, 0.88);
}

.menu.open {
  transform: translateY(0);
  z-index: 2;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  font-size: 1.85em;
  line-height: 1.5;
  font-weight: $fwB;
  margin-bottom: calc($offset * 1);
  color: $color-default-black;
  text-transform: uppercase;
  opacity: 0;
  z-index: 0;
}

.menu.open .menu__link {
  opacity: 1;
}

.menu__link-line {
  background-color: $color-default-yellow;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;

  & span {
    display: flex;
    padding-right: 1.75rem;
  }
  & span > span {
    padding-right: 1.75rem;
  }
}

.menu__link:hover .menu__link-line {
  visibility: visible;
  opacity: 1;
}

.menu__link:focus .menu__link-line {
  visibility: visible;
  opacity: 1;
}

.menu__link:focus-within .menu__link-line {
  visibility: visible;
  opacity: 1;
}

.menu__link:focus {
  outline: none;
}

.menu-bg.open {
  position: fixed;
  background-color: $color-default-white;
  width: 100%;
  height: calc($offset * 8);
  z-index: 4;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc($offset * 1) calc($offset * 2);
}

.menu-footer__col {
  font-size: calc(max(0.85em, 12px));
  color: $color-default-black;
}

// .development,.footer-development {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     flex-shrink: 0;
//     width: calc(max((var(--offset) * 1.5),30px));
//     height: calc(max((var(--offset) * 1.75),35px));
//     fill: var(--c3);
//     stroke: var(--c3);
//     stroke-linecap: round;
//     transition: .5s;
//     transition-delay: .6s;
//     overflow: hidden;
//     z-index: 1
// }

// .development::before,.footer-development::before {
//     content: attr(data-title);
//     position: absolute;
//     top: 55%;
//     right: calc(100% + (var(--offset) * .5));
//     transform: translateY(-50%) translateX(20px);
//     opacity: 0;
//     text-transform: uppercase;
//     font-weight: var(--fwB);
//     text-align: right;
//     font-size: .75em;
//     line-height: 1.6;
//     color: var(--c1);
//     pointer-events: none
// }

// .development svg,.footer-development svg {
//     width: calc(max((var(--offset) * 3),60px));
//     height: auto;
//     opacity: 1;
//     transform: none;
//     top: auto;
//     left: auto;
//     stroke-linecap: round
// }

// .development .st0,.footer-development .st0 {
//     stroke-width: 12;
//     stroke-linejoin: round;
//     stroke-miterlimit: 10;
//     margin-left: auto;
//     -webkit-animation: st0 2s linear 0s infinite normal;
//     animation: st0 2s linear 0s infinite normal
// }

// .development .st01,.footer-development .st01 {
//     stroke-width: 0;
//     -webkit-animation: none;
//     animation: none
// }

// .development .st,.footer-development .st {
//     stroke-width: 0;
//     stroke-linejoin: bevel;
//     opacity: 0;
//     transition: .5s
// }

// .development .st1,.footer-development .st1 {
//     transition-delay: .3s
// }

// .development .st2,.footer-development .st2 {
//     transition-delay: .2s
// }

// .development .st3,.footer-development .st3 {
//     transition-delay: .1s
// }

// .development:focus,.development:focus-within,.development:hover,.footer-development:focus,.footer-development:focus-within,.footer-development:hover {
//     width: calc(max((var(--offset) * 3),60px));
//     transition-delay: 0s;
//     overflow: visible
// }

// .development:focus-within::before,.development:focus::before,.development:hover::before,.footer-development:focus-within::before,.footer-development:focus::before,.footer-development:hover::before {
//     transform: translateY(-50%);
//     opacity: 1;
//     transition: all .3s cubic-bezier(.45,.05,.55,.95) .6s
// }

// .development:focus .st,.development:focus-within .st,.development:hover .st,.footer-development:focus .st,.footer-development:focus-within .st,.footer-development:hover .st {
//     opacity: 1;
//     transition-delay: .4s
// }

// .development:focus .st2,.development:focus-within .st2,.development:hover .st2,.footer-development:focus .st2,.footer-development:focus-within .st2,.footer-development:hover .st2 {
//     transition-delay: .5s
// }

// .development:focus .st3,.development:focus-within .st3,.development:hover .st3,.footer-development:focus .st3,.footer-development:focus-within .st3,.footer-development:hover .st3 {
//     transition-delay: .6s
// }

// .footer-development {
//     position: relative
// }

// @media screen and (max-width: 1299px) {
//     .footer-development {
//         position:absolute;
//         right: calc(var(--offset) * 7.5);
//         bottom: calc(var(--offset) * 2)
//     }
// }

// @media screen and (max-width: 768px) {
//     .footer-development {
//         right:auto
//     }
// }

// .footer-development::before {
//     left: calc(100% + (var(--offset) * .8));
//     right: auto;
//     transform: translateY(-50%) translateX(-20px);
//     text-align: left;
//     color: var(--c3)
// }

// .footer-development:focus .footer-development__decor,.footer-development:focus-within .footer-development__decor,.footer-development:hover .footer-development__decor {
//     stroke-dashoffset: 0;
//     transition-duration: .8s
// }

// .footer-list,.footer-menu {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     list-style: none;
//     margin: 0;
//     padding: 0
// }
