// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-default-yellow: #e6fb04;

//fonts
$ff: 'Montserrat', 'Arial', 'sans-serif';
$ff2: 'DelaGothicOneo', 'Arial', 'sans-serif';
$font-fallback: 'Arial';
$font-generic: sans-serif;
$my-font: $ff, $ff2, $font-fallback, $font-generic;
$fwEB: 900;
$fwB: bold;
$fwM: 500;
$fwR: normal;

//font-sizes

$fz: max(1vw, 15px);

//sizes
$offset: max(calc(1.25 * 1vw), 15px);
$offset-xxxl: calc($offset * 10);
$offset-xxl: calc($offset * 8);
$offset-xl: calc($offset * 7);
$offset-l: calc($offset * 6);
$offset-m: calc($offset * 5);
$offset-s: calc($offset * 4);

// Viewports
// ---------------------------------

$vp-360: 360px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//transitions
$default-transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
